/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    width: 120px;
    margin-left: 40px; /* Ajout d'un espace à gauche du logo, si nécessaire */
}

.sign-in-btn {
    background-color: #e50914;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 40px; /* Espace à gauche du bouton */
}


.sign-in-btn:hover {
    background-color: #f40612;
}

.background {
    position: relative;
    height: 100vh;
    background: url('fundo.jpg') no-repeat center center/cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Fond sombre */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Pas de retour à la ligne pour les grands écrans */
}

input[type="email"] {
    padding: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 400px; /* Fixez la largeur de l'input à 400px */
    border-radius: 5px;
    margin-right: 10px; /* Espace entre l'input et le bouton */
}

button {
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    flex-shrink: 0; /* Ne permet pas au bouton de se réduire */
    white-space: nowrap; /* Évite que le texte du bouton soit coupé */
    width: 150px; /* Fixe une largeur pour le bouton sur grands écrans */
}

@media (max-width: 768px) {
    .input-container {
        flex-direction: column; /* Retourne à la colonne pour les petits écrans */
    }

    input[type="email"] {
        width: 100%; /* Prend toute la largeur sur petits écrans */
        margin-right: 0; /* Pas d'espace à droite pour les petits écrans */
    }

    button {
        margin-left: 0; /* Pas de marge à gauche sur petits écrans */
        margin-top: 10px; /* Espace au-dessus du bouton sur petits écrans */
        width: 100%; /* Prend toute la largeur disponible sur petits écrans */
    }
}

button:hover {
    background-color: #f40612;
}